#slideShow #message {
  width: 30%;
  float: left;
  padding: 1em;
}

#slideShow #chart {
  width: 70%;
  float: right;
}

#slideShow {
  display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: red;
}

.focus text {
  font-size: 15px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date,
.tooltip-likes {
  font-weight: bold;
}
